.botonera {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0 auto;
    text-align: center;
  }
  
  .boton {
    font-size: 55px;
    margin: 5px;
    padding: 60px 20px;
    color: #fff;
    font-size: 40px;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
    background-color: rgb(38, 38, 99);
    transition: background-color 0.3s;
  }
  
  .boton:hover {
    background-color: #ddd;
  }
  
  .boton:active {
    background-color: #999;
  }
  
  h1 {
    text-align: center;
    font-family: 'Helvetica';
  }
  
  /* Media queries para dispositivos móviles */
  @media only screen and (max-width: 1000px) {
    .botonera {
      flex-direction: column;
      align-items: center;
    }
  
    .boton {
        width: 60%;
    }
  }
  